@page "/"
@using BrightChain.Engine.Services
@using BrightChain.API;
@using BrightChain.API.Helpers;
@inject BrightBlockService BrightBlockService

<h1>@Illuminator.Slug</h1>

@if(!Illuminator.RegistrationEnabled) {
    <p><b>Registration is currently DISABLED.</b></p>
}
<p>BrightChain is coming online soon.</p>
<p><b style="color: red;">WARNING</b>: BrightChain is presently Pre-ALPHA. Data contents may be reset at any time.</p>
<p>Although the website is online, much of the registration system is still being written. Check back in a few days!</p>

<div style="font-size: 8pt">
    <div style="float: left; margin-right: 10px;">Birthday: Stardate @StarDateConverter.Birthday</div>
    <div style="float: left; margin-right: 10px;">Stardate: @StarDateConverter.Now</div>
    <div style="float: left; margin-right: 10px;">Database GUID: @BrightBlockService.RootBlock.Guid.ToString()</div>
</div>
<div style="clear: both; margin-top: 15px;">
    <div style="float: left; margin-right: 15px; margin-bottom: 15px;">
        <img src="/Revolution-01.png" />
    </div>
    <div style="float: left;">
        <img src="/Revolution-02.png" />
    </div>
</div>