@page "/"
@using BrightChain.Engine.Services
@using BrightChain.API;
@using BrightChain.API.Helpers;
@inject BrightBlockService BrightBlockService

<h1>@Illuminator.Slug</h1>

BrightChain is coming online soon.

<p><b style="color: red;">WARNING</b>: BrightChain is presently Pre-ALPHA. Data contents may be reset at any time.</p>
<p>Although the website is online, much of the registration system is still being written. Check back in a few days!</p>

<p>Birthday: Stardate @StarDateConverter.Birthday</p>
<p>Stardate: @StarDateConverter.Now</p>
<p>Database GUID: @BrightBlockService.RootBlock.Guid.ToString()</p>
<div>
    <div>
        <img src="/Revolution-01.png" />
    </div>
    <div>
        <br />
    </div>
    <div>
        <img src="/Revolution-02.png" />
    </div>
</div>