@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/The-Revolution-Network/BrightChain" target="_blank">GitHub</a>
            <a href="https://apidocs.therevolution.network/articles/BrightChain.wiki/Home.html" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<footer class="footer border-top text-muted">
    <div class="container">
        &copy; 2021 - @Illuminator.Slug
    </div>
    <div class="container">
        BrightChain and The Revolution Network are registered business entities of Mulein Studios. A future charitable organization will be formed for the BrightChain core.
    </div>
</footer>